<div class="m-5 my-5 p-2 px-4 bg-[#fff] shadow-md shadow-lime-600/30 rounded-lg relative">
    Datos de los productos
    <table class="w-full my-3" style="text-align:justify;">
        <thead>
            <tr class="text-xs">
                <th>ID producto</th>
                <th>Nombre del producto</th>
                <th>Precio</th>
                <th>Cantidad</th>
                <th>Acciones</th>
            </tr>
        </thead>     
        
        <tbody>
            <td colspan="5"><div class="bg-lime-600 w-full h-0.5 rounded-full my-2"></div></td>
            <tr class="text-xs">
               
                <td class="py-1">{{idProduct}}</td>
                <td class="py-1">{{nameProduct}}</td>
                <td class="py-1">{{PriceProduct}}</td>
                <td class="py-1">{{CantProduct}}</td>
                <td class="py-1"><i class="fa-solid fa-ellipsis-vertical hover:scale-105 ease-in-out duration-300 cursor-pointer"></i></td>
            </tr>

        </tbody>
    </table>
</div>