<div class=" min-h-screen w-24 bg-gradient-to-b from-cyan-500 to-blue-500 sidebar" [class.active]="showNav">
    <ul class="grid grid-rows-6  p-2 gap-5 place-items-start text-xl " >
      <li class="flex flex-col items-center rounded-md shadow-sm w-14 h-18 p-3 hover:scale-105 ease-in-out duration-300">
        <button (click)="milocopero">
          <i class="fa-solid fa-bars" ></i>
        </button>
  
      </li>
      <li class="flex flex-col items-center rounded-md shadow-sm w-14 p-4 hover:scale-105 ease-in-out duration-300">
       <a routerLink=""><i class="fa-solid fa-users"></i></a> 
      </li>
      <li class="flex flex-col items-center rounded-md shadow-sm w-14 p-4 hover:scale-105 ease-in-out duration-300">
        <a routerLink="../product-page"><i class="fa-solid fa-box-open"></i></a>
      </li>
      <li class="flex flex-col items-center rounded-md shadow-sm w-14 p-4 hover:scale-105 ease-in-out duration-300">
        <a routerLink="../bill-page"><i class="fa-solid fa-file-invoice-dollar"></i></a>
  
      </li>
      <li class="flex flex-col items-center rounded-md shadow-sm w-14 p-4 hover:scale-105 ease-in-out duration-300">
        <i class="fa-solid fa-ellipsis"></i>
  
      </li>
      <li class="flex flex-col items-center rounded-md shadow-sm w-14 p-4 hover:scale-105 ease-in-out duration-300">
        <i class="fa-solid fa-gear"></i>
      </li>
    </ul>
  
    <ul class="grid grid-rows-6 hidden p-2 gap-5 place-items-start text-xl NavItems"  [class.active]="showNavItems">
      <li class="flex flex-col items-center rounded-md shadow-sm w-14 h-18 p-3 hover:scale-105 ease-in-out duration-300">
          Menu
      </li>
      <li class="flex flex-col items-center rounded-md shadow-sm w-14 p-4 hover:scale-105 ease-in-out duration-300">
        Perfil
      </li>
      <li class="flex flex-col items-center rounded-md shadow-sm w-14 p-4 hover:scale-105 ease-in-out duration-300">
        Productos
      </li>
      <li class="flex flex-col items-center rounded-md shadow-sm w-14 p-4 hover:scale-105 ease-in-out duration-300">
        Facturas
      </li>
      <li class="flex flex-col items-center rounded-md shadow-sm w-14 p-4 hover:scale-105 ease-in-out duration-300">
        Opciones
      </li>
      <li class="flex flex-col items-center rounded-md shadow-sm w-14 p-4 hover:scale-105 ease-in-out duration-300">
        Ajustes
      </li>
    </ul>
  </div>
  