<div class="m-5 my-5 p-2 px-4 bg-[#fff] shadow-md shadow-lime-600/30 rounded-lg relative">
    Datos de los clientes
    <table class="w-full my-3" style="text-align:justify;">
        <thead>
            <tr class="text-xs">
                <th>Nombre / Razón social</th>
                <th>Número de Documento</th>
                <th>Balance actual</th>
                <th>Suscripciones</th>
                <th>Acciones</th>
            </tr>
        </thead>     
        
        <tbody>
            <td colspan="5"><div class="bg-lime-600 w-full h-0.5 rounded-full my-2"></div></td>
            <tr class="text-xs" *ngFor="let cliente of clientes">
               
                <td class="py-1">{{ cliente.nombreORazonSocial }}</td>
                <td class="py-1">{{ cliente.numeroDeDocumento }}</td>
                <td class="py-1">{{ cliente.celular }}</td>
                <td class="py-1">{{ cliente.telefono }}</td>
                <td class="py-1"><i class="fa-solid fa-ellipsis-vertical hover:scale-105 ease-in-out duration-300 cursor-pointer"></i></td>
            </tr>

        </tbody>
    </table>
</div>