<div class="flex containeres">
    <app-side-nav></app-side-nav>
    <div class="flex flex-col w-full ml-10">
        <p class="m-2 ml-0 text-3xl font-medium drop-shadow-lg my-6 ">Clients</p>
        <app-search-bar
        [funcionModal]="openModal"
        ></app-search-bar>
        <app-client-table></app-client-table>
          <!--Modal agregar productos-->
      <dialog #modal id="modal" class="modal w-3/5 bg-gray-100 open:flex relative flex-col items-center justify-between rounded-xl ">
        <p class="text-2xl font-bold text-center m-9">Agregar cliente</p>
        <form action="" method="dialog">
            <div  class=" grid grid-cols-3 grid-rows-4 gap-6 h-4/6 ">

                <div class="flex flex-col ">
                  <label for="">Id: </label>
                  <input type="number" class="rounded-lg bg-stone-200 shadow-sm" [disabled]="true" placeholder="CLI-39201">
                </div>
                <div class="flex flex-col ">
                  <label for="">Nombre o razon social: </label>
                  <input type="URL" class="rounded-lg bg-stone-200 shadow-sm">
                </div>
                <div class="flex flex-col">
                  <label for="tipoDocumento">Select Tipo de documento: </label>
                  <select name="tipoDocumento" id="tipoDocumento">
                    <option value="Seleccione un documento" disabled></option>
                    <option value="Cedula"></option>
                    <option value="Pasaporte" ></option>
                    <option value="Licencia" ></option>
                  </select>
                </div>
                <div class="flex flex-col ">
                  <label for="">Numero de documento: </label>
                  <input type="text" class="rounded-lg bg-stone-200 shadow-sm">
                </div>
                <div class="flex flex-col ">
                  <label for="">Check box Comprobante fiscal: </label>
                  <input type="text" class="rounded-lg bg-stone-200 shadow-sm">
                </div>
                <div class="flex flex-col ">
                  <label for="">Numero de comprobante fiscal: </label>
                  <input type="text" class="rounded-lg bg-stone-200 shadow-sm">
                </div>
                <div class="flex flex-col ">
                  <label for="">Correo: </label>
                  <input type="email" class="rounded-lg bg-stone-200 shadow-sm">
                </div>
                <div class="flex flex-col ">
                  <label for="">Telefono: </label>
                  <input type="tel" class="rounded-lg bg-stone-200 shadow-sm">
                </div>
                <div class="flex flex-col ">
                  <label for="">Celular: </label>
                  <input type="tel" class="rounded-lg bg-stone-200 shadow-sm">
                </div>
                <div class="flex flex-col ">
                  <label for="">Direccion: </label>
                  <input type="text" class="rounded-lg bg-stone-200 shadow-sm">
                </div>
                <div class="flex flex-col ">
                  <label for="">Comentario: </label>
                  <textarea class="rounded-lg bg-stone-200 shadow-md outline-none p-2"></textarea>
                </div>
            </div>
            <div class="flex justify-center gap-16">
                <button type="submit" class="mt-9 bg-lime-600 flex items-center justify-center h-12 w-1/5 p-4 rounded-xl shadow-lg hover:bg-lime-700  text-white font-bold py-2 px-4 hover:scale-105 ease-in-out duration-300">Submit</button>
                <button (click)="closeModal()" class="mt-9 bg-red-500 flex items-center justify-center h-12 w-1/5  p-4 rounded-xl shadow-lg hover:bg-red-600  text-white font-bold py-2 px-4 hover:scale-105 ease-in-out duration-300 ">Close</button>
            </div>
        </form>
        <div class="mt-10 w-full flex justify-between px-16">
        </div>
      </dialog>
    </div>
</div>