<div class="flex containeres">
    <app-side-nav-settings></app-side-nav-settings>
    <div class="flex flex-col w-full ml-10">
        <div class="titles flex spacing relative justify-center items-center pr-6">
            <p class="justify-center  m-2 ml-0 text-3xl my-6 font-medium drop-shadow-lg">Configuración de la cuenta</p>
        <app-user-icon></app-user-icon>   
        </div>
        <!--Marco blanco-->
        <div class="flex flex-col justify center w-5/5 h-1/2 bg-white relative rounded-xl mr-10">
            <!--Todo el contenido-->
            <div class="flex flex-col h-full w-full justify-center items-center">
                <p class="xl:text-xl 2xl:text-2xl font-bold text-center 2xl:m-9 2xl:mt-0 xl:mt-0 xl:m-6">
                    Soporte técnico
                </p>
                <!--Primer bloque-->
                <div class="flex flex-col justify-center items-center w-full mt-0 px-5">
                    <label class="flex justify-start items-center uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 w-1/2" for="grid-first-name">
                    Correo electrónico
                    </label>
                    <input
                    class="xl:text-sm xl:h-9 2xl:h-12 appearance-none w-1/2 bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-lime-500"
                    id="grid-first-name"
                    type="password"
                    placeholder="billfastlite@soporte"
                    disabled
                    />
                </div>
                <!--Segundo bloque-->
                <div class="flex flex-col justify-center items-center w-full mt-5 px-5">
                    <label class="flex justify-start items-center uppercase tracking-wide text-gray-700 text-xs font-bold mb-2 w-1/2" for="grid-first-name">
                    Teléfono
                    </label>
                    <input
                    class="xl:text-sm xl:h-9 2xl:h-12 appearance-none w-1/2 bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-lime-500"
                    id="grid-first-name"
                    type="password"
                    placeholder="809-881-9784"
                    disabled
                    />
                </div>
                   
            </div>
        </div>
    </div>
</div>