<div class="flex containeres">
    <app-side-nav-settings></app-side-nav-settings>
    <div class="flex flex-col w-full ml-10">
        <div class="titles flex spacing relative justify-center items-center pr-6">
            <p class="justify-center  m-2 ml-0 text-3xl my-6 font-medium drop-shadow-lg">Configuración de la cuenta</p>
        <app-user-icon></app-user-icon>   
        </div>
        <!--Marco blanco-->
        <div class="flex flex-col justify-center w-5/5 h-1/2 bg-white relative rounded-xl mr-10">
            <!--Todo el contenido-->
            <div class="flex flex-col h-full w-full justify-center items-center">
                <p class="xl:text-xl 2xl:text-2xl font-bold text-center 2xl:m-9 xl:m-6">
                    Notificaciones
                </p>
                <!--contenedor que centraliza las notificaciones-->
                <div class="flex flex-col space-y-11 justify-center items-center">
                    <!--Primer bloque-->
                    <div class="flex justify-start items-center h-1/6 w-full">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round px-6 pl-5"></span>
                        </label>
                        <p class="px-4 text-lg ">Notificaciones de escritorio</p>
                    </div>
                    <!--Segundo bloque-->
                    <div class="flex justify-start items-center h-1/6 w-full">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round px-6 pl-5"></span>
                        </label>
                        <p class="px-4 text-lg ">Notificaciones de record de facturas</p>
                    </div>
                    <!--Tercer bloque-->
                    <div class="flex justify-start items-center h-1/6 w-full">
                        <label class="switch">
                            <input type="checkbox" checked>
                            <span class="slider round px-6 pl-5"></span>
                        </label>
                        <p class="px-4 text-lg ">Notificaciones de producto esta por agotar existencias</p>
                    </div>

                </div>
        
            </div>
        </div>
    </div>
</div>