<div class="flex containeres">
    <app-side-nav></app-side-nav>
    <div class="flex flex-col w-full ml-10">
        <div class="titles flex spacing relative justify-center items-center pr-6">
          <p class="justify-start  m-2 ml-0 text-3xl my-6 font-medium drop-shadow-lg">Consultar Facturas
          </p>
        <app-user-icon></app-user-icon>
        </div>
        <app-search-bar
        [direccion]="ruta"  
        ></app-search-bar>
        <app-bill-table></app-bill-table>
    </div>
</div>