
    <button (click)="onClick1()" class="w-5 h-10 bg-white p-2 justify-end hover:scale-105 ease-in-out duration-300">
        <i class="fa-solid fa-ellipsis-vertical hover:scale-105 ease-in-out duration-300 cursor-pointer"></i>
    </button>
    <div #AsDropdown  id="dropdown" class="bg-white hidden flex-col rounded p-2 text-xs absolute right-48 shadow-lg w-32 z-10">
        <a routerLink="" class="flex justify-start items-center content-center py-2 hover:bg-lime-500 rounded"><i class="fa-solid fa-eye px-2"></i>Ver detalles</a>
        <a routerLink="" class="flex justify-start items-center content-center py-2 hover:bg-lime-500 rounded"><i class="fa-solid fa-pen-to-square px-2"></i>Editar</a>
        <a routerLink="" class="flex justify-start items-center content-center py-2 hover:bg-lime-500 rounded"><i class="fa-solid fa-trash-can px-2"></i>Eliminar</a>
    </div>
