.sidebar{
    transition: ease-in-out 300ms;
    padding-left: 10px;
    &.active{
      width: 120%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      place-items: start;
    }
    .NavItems{
      &.active{
        display: grid;
        font-size: small;
  
      }
    }
  }
  .menu-lateral {
    background: var(--white);
    box-shadow: 5px 0 1rem rgb(0 0 0 / 3%);
    z-index: 2;
    width: 8rem;
    transition: all .4s ease;
}