
<div class="cursor-pointer min-h-screen w-48 object-contain space-y-12 xl:space-y-7 2xl:space-y-8 bg-white flex flex-col text-gray-700 drop-shadow-lg">
    <a routerLink="">
    <div class="logo w-full h-1/4 mt-5 p-3 flex space-x-4 drop-shadow-xl">
      <img src="../../../assets/img/invoice.png" class="w-12 h-12" alt="">  
      <div class="flex flex-col text-3xl  font-light  h-full">     
        <span class="border-l-2  border-solid border-gray-700 px-1 ">
          BillFast
        </span>
        <span class="border-l-2  spanes border-solid border-gray-700 px-1 mb-0 align-text-bottom pb-0">
          Lite
        </span>
      </div>
    </div>
    </a>
`
  <div class="menu w-full justify-self-auto self-center ">
    <ul class=" p-2 space-y-12 xl:space-y-7 2xl:space-y-14 items-center">
        <a routerLink="/setting-page" routerLinkActive="text-lime-600" [routerLinkActiveOptions]="{exact: true}">
          <li class="">
          <div class="flex items-center space-x-4 align-text-bottom p-2 hover:text-lime-600 hover:bg-gray-100 
          rounded-lg">
            <img src="../../../assets/img/user.png" class="w-5 h-5">
            <span class="text-lg text-end">Perfil</span>
          </div>
          </li>
        </a>
      <li class="">
        <a routerLink="/password-page" routerLinkActive="text-lime-600">
          <div class="flex items-bottom space-x-4 align-text-bottom p-2 hover:text-lime-600 hover:bg-gray-100 
          rounded-lg items-center">
            <img src="../../../assets/img/padlock.png" class="w-5 h-5">
            <span class="text-lg text-end">Contraseña</span>
          </div>
        </a>
      </li>
      <li class="">
        <a routerLink="/notifications-page" routerLinkActive="text-lime-600">
          <div class="flex items-bottom space-x-4 align-text-bottom p-2 hover:text-lime-600 hover:bg-gray-100 
          rounded-lg items-center">
          <img src="../../../assets/img/bell.png" class="w-5 h-5">
          <span class="text-lg text-end">Notificaciones</span>
          </div>
        </a>
      </li>
     
      <li class="">
        <a routerLink="/help-page" routerLinkActive="text-lime-600">
          <div class="flex items-bottom space-x-4 align-text-bottom p-2 hover:text-lime-600 hover:bg-gray-100 
          rounded-lg items-center">
          <img src="../../../assets/img/help.png" class="w-5 h-5">
          <span class="text-lg text-end">Ayuda</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>