<div class="cursor-pointer	 min-h-full w-44 object-contain space-y-20 bg-white flex flex-col text-slate-700 drop-shadow-lg " >

  <div class="logo w-full h-1/4  p-3 flex space-x-4 drop-shadow-xl">
    <img src="../../../assets/invoice.png" class="w-12 h-12" alt="">  
    <div class="flex flex-col text-3xl  font-light  h-full">     
      <span class="border-l-2  border-solid border-slate-700 px-1 ">
        BillFast
      </span>
      <span class="border-l-2  spanes border-solid border-slate-700 px-1 mb-0 align-text-bottom pb-0">
        Lite
      </span>
    </div>
  </div>

  <div class="menu w-full  justify-self-auto self-center  ">
    <ul class=" p-2 space-y-10 items-center">
      <li class=" text-lime-600 bg-gray-100 rounded-lg drop-shadow">
        <a href="">
          <div class="flex items-center space-x-4 align-text-bottom p-2">
            <img src="../../../assets/bar-chart.png" class="w-6 h-6">
            <span class="text-lg text-end mt-2"><a routerLink="">Dashboard</a></span>
          </div>
        </a>
        </li>
        <li class="">
        <a href="">
          <div class="flex items-bottom space-x-4 align-text-bottom drop-shadow p-2 hover:text-lime-600 hover:bg-gray-100 
          rounded-lg ">
            <img src="../../../assets/money.png" class="w-6 h-6">
            <span class="text-lg text-end mt-1">Sales</span>
          </div>
        </a>
        </li>
      <li class="">
        <a href="" routerLink="product-page">
          <div class="flex items-bottom space-x-4 align-text-bottom drop-shadow p-2 hover:text-lime-600 hover:bg-gray-100 
          rounded-lg ">
          <a routerLink="product-page"><img src="../../../assets/box.png" class="w-6 h-6"></a>
          <span class="text-lg text-end mt-1"><a routerLink="product-page">Products</a></span>
          </div>
        </a>
      </li>
      <li class="">
        <a href="" routerLink="client-page">
          <div class="flex items-bottom space-x-4 align-text-bottom drop-shadow p-2 hover:text-lime-600 hover:bg-gray-100 
          rounded-lg ">
          <img src="../../../assets/target.png" class="w-6 h-6">
          <span class="text-lg text-end ">Clients</span>
          </div>
        </a>
      </li>
      <li class="">
        <a href="">
          <div class="flex items-bottom space-x-4 align-text-bottom drop-shadow p-2 hover:text-lime-600 hover:bg-gray-100 
          rounded-lg ">
          <img src="../../../assets/cashier-machine.png" class="w-6 h-6">
          <span class="text-lg text-end ">Cashier</span>
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
  