<div class="flex containeres h-screen w-screen">
    <!--Efecto blur y centralizacion  del modal-->
    <div class="flex justify-center items-center w-full h-full _filter">
        <!--Modal-->
        <div class="flex 2xl:w-3/5 xl:w-4/6 h-2/3 rounded-2xl">
            <div class="justify-center items-center content-center h-full w-full rounded-2xl bg-stone-100 opacity-90">
                <div class="flex flex-col justify-center items-center w-full h-full">
                    <!--Arrow back (btn de volver)-->
                    <a routerLink="/log-in">
                        <img src="../../../assets/img/arrow.png" class="img-responsive w-5 h-5" alt="arrowback">
                    </a>
                    <!--Titulo-->
                    <h1 class="text-gray-700 xl:text-3xl font-bold my-5">Restablecer contraseña</h1>
                    <!--Texto informativo-->
                    <label class="items-center flex tracking-wide text-gray-500 text-md font-bold mb-3 mt-2">
                        <p>Ingresa tu email y te enviaremos un enlace para restablecer tu contraseña.</p>
                   </label>
                   <!--Input de email-->
                   <input class="xl:text-sm xl:h-9 appearance-none block w-5/6 bg-gray-200 text-gray-700 border rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white focus:border-lime-500" id="grid-first-name" type="email" placeholder="Ingrese su correo"/>
                   <a routerLink=""> 
                    <!--btn enviar-->
                    <button class="justify-center content-center items-center bg-lime-500 2xl:h-12 xl:h-10 p-4 rounded-xl shadow-lg hover:bg-gray-500  text-white font-bold py-2 hover:scale-105 ease-in-out duration-300 m-3">
                    Enviar</button>
                </a>
                </div>
            </div>
        </div>
    </div>
</div>