<div class="flex containeres">
    <app-side-nav></app-side-nav>
    <div class="flex flex-col place-items-center w-full text-sm relative">
        <p class="m-2 ml-5 text-3xl my-6 font-medium drop-shadow-lg justify-start">Add <span> > </span> New Bill</p>
    
        <div class="mx-5 p-2 px-4 w-5/6 h-5/6 bg-[#fff] shadow-md shadow-lime-500/30 rounded-lg items-center">
            
            <div class="flex justify-between px-4">
                <div class="mt-9">
                    <label class="font-bold mb-2" for="clienteSelect">Cliente</label>
                    <br>
                    <select id="clienteSelect"  class="flex w-44 shadow-md focus:outline-none focus:ring-1 focus:ring-sky-500 caret-sky-500 p-2 py-2 m-1 ... rounded-lg">
                        <option selected>Seleccione el cliente</option>
                        <option value="Maria pineda">Maria pineda</option>
                        <option value="Juan Carlos Perez">Juan Carlos Perez</option>
                    </select>
                </div>
                <div class="mt-9">
                    <label class="font-bold mb-2" for="comprobante">Comprobante fiscal </label>
                    <br>
                    <select id="comprobante" name="comprobante"  class="w-60 shadow-md focus:outline-none focus:ring-1 focus:ring-sky-500 caret-sky-500 p-2 py-2 m-1 ... rounded-lg">
                        <option selected>Seleccione el comprobante fiscal</option>
                        <option value="Comprobante fiscal">Comprobante fiscal</option>
                        <option value="NPI">NPI</option>
                    </select>
                </div>

                    <div class="mt-9">
                        <label class="font-bold mb-2" for="terminoDePago">Termino de pago </label>
                        <br>
                        <select id="terminoDePago" name="terminoDePago"  class="w-60 shadow-md focus:outline-none focus:ring-1 focus:ring-sky-500 caret-sky-500 p-2 py-2 m-1 ... rounded-lg">
                            <option selected>Seleccione el termino de pago</option>
                            <option value="Al contado">Al contado</option>
                            <option value="Credito">Credito</option>
                        </select>
                    </div>
            </div>

                <div class="flex justify-evenly">

                    <div class="mt-4">
                        <label class="font-bold mb-2" for="estadoDePago">Estado de pago </label>
                        <br>
                        <select id="estadoDePago"  class="w-60 shadow-md focus:outline-none focus:ring-1 focus:ring-sky-500 caret-sky-500 p-2 py-2 m-1 ... rounded-lg">
                            <option selected>Seleccione el estado de pago</option>
                            <option value="Saldado">Saldado</option>
                            <option value="Sin saldar">Sin saldar</option>
                        </select>
                    </div>
                    <div class="mt-4">
                        <label class="font-bold mb-2" for="tipoDocumento">Tipo de documento </label>
                        <br>
                        <select id="tipoDocumento"  class="w-60 shadow-md focus:outline-none focus:ring-1 focus:ring-sky-500 caret-sky-500 p-2 py-2 m-1 ... rounded-lg">
                            <option selected>Seleccione el tipo de documento</option>
                            <option value="Comprobante fiscal">Comprobante fiscal</option>
                            <option value="NPI">NPI</option>
                        </select>
                    </div>
                </div>
                <div class="flex">
                    <div class="bg-lime-500 w-full h-0.5 rounded-full my-2"></div>
                    
                    </div>
            <div class="flex my-4 items-center">
                <div class="">
                    <label class="font-bold mb-2" for="productSelect">Producto</label>
                    <br>
                    <select id="productSelect"  name="productSelect" class="flex w-52 shadow-md focus:outline-none focus:ring-1 focus:ring-sky-500 caret-sky-500 p-2 py-2 m-1 ... rounded-lg">
                        <option selected>Seleccione el producto</option>
                        <option value="Producto A">Producto A</option>
                        <option value="Producto B">Producto B</option>
                    </select>
                </div>
                <div class="ml-2">
                    <label class="font-bold mb-2" for="cant">Cantidad </label>
                    <br>
                    <input type="number" id="telefono" name="telefono" placeholder="809-589-9873" class="w-16 shadow-md focus:outline-none focus:ring-1 focus:ring-sky-500 caret-sky-500 p-2 py-2 m-1 ... rounded-lg"
                    [(ngModel)]="cant">
                </div>
                <div class="items-center">
                    <button class=" flex h-9 w-9 p-2 m-4 bg-lime-500 rounded-full justify-center items-center hover:scale-105 ease-in-out duration-300">
                        <p class="text-white font-bold text-md"><i class="fa-solid fa-plus"></i></p>
                    </button>
                </div>
            </div>
            <div class="flex">
                <div class="bg-lime-500 w-full h-0.5 rounded-full my-2"></div>
            </div>
            <div class="flex">
                    <table class="w-full my-6" style="text-align:justify;">
                        <thead>
                            <tr class="text-sm">
                                <th>Articulo</th>
                                <th>Precio unitario</th>
                                <th>Cantidad</th>
                                <th>Total</th>
                            </tr>
                        </thead>     
                        
                        <tbody>
                            <tr class="text-sm">
                               
                                <td class="py-1">Producto A</td>
                                <td class="py-1">0.00</td>
                                <td class="py-1">0</td>
                                <td class="py-1">0</td>
                            </tr>
                        </tbody>
                    </table>
            </div>
            <div class="flex">
                <div class="bg-lime-500 w-full h-0.5 rounded-full my-2"></div>
            </div>
            <div class="flex">
                    <table class="w-full my-6" style="text-align:justify;">
                        <thead>
                            <tr class="text-sm">
                                <th>Sub total</th>
                                <th>Descuento</th>
                                <th>Impuesto</th>
                                <th>Gran Total</th>
                            </tr>
                        </thead>     
                        
                        <tbody>
                            <tr class="text-sm">
                               
                                <td class="py-1">0.00</td>
                                <td class="py-1">0.00</td>
                                <td class="py-1">0.00</td>
                                <td class="py-1">0.00</td>
                            </tr>
                        </tbody>
                    </table>
            </div>

            <div class="flex">
                <div class="">
                    <a routerLink="../">
                    <button class=" mt-9 h-10 bg-blue-700 hover:bg-blue-500 text-white font-bold py-2 px-4 rounded hover:scale-105 ease-in-out duration-300" >Volver</button>
                    </a>
                    <a routerLink="../">
                    <button class="mt-9 h-10 ml-3 bg-red-700 hover:bg-red-500  text-white font-bold py-2 px-4 rounded hover:scale-105 ease-in-out duration-300" >Generar factura</button>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>