.containeres{
    position: relative;
    &::before{
        content: '';
        position: absolute;
        top: 0px;
        bottom: 0px;
        left: 0px;
        right: 0px;
        background-image: url(../../../assets/img/pattern-icon-13.jpg);
        filter: blur(10px);
        background-size: cover;
        background-position: top-center;
        opacity: 1;
    }
}
.spacing{
  justify-content: space-between;
  
}
.desenfoque{
    filter: blur(10px);
}