<div class="flex containeres">
  <app-side-nav></app-side-nav>
  <div class="flex flex-col w-full ml-10">
      <div class="titles flex spacing relative justify-center items-center pr-6">
        <p class="justify-start  m-2 ml-0 text-3xl my-6 font-medium drop-shadow-lg">Tablero
        </p>
        <app-user-icon></app-user-icon>   
        </div>
      <div class="flex flex-col justify-start w-full">
        <div class="w-2/5 h-full flex flex-col justify-between m-2">
          <div
            class="card w-full h-[38vh] bg-slate-100 shadow-md relative rounded-lg"
          >
            <p class="text-2xl font-semibold drop-shadow-lg">Overview</p>
            <div class="mt-1">
              <p class="text-md font-normal">Ganancias</p>
              <div class="w-5/6 bg-lime-500 h-2 rounded-lg"></div>
            </div>
            <div class="mt-3">
              <p class="text-md font-normal">Gastos</p>
              <div class="w-1/5 bg-red-500 h-2 rounded-lg"></div>
            </div>
            <div class="mt-3">
              <p class="text-md font-normal">Neto</p>
              <div class="w-3/5 bg-cyan-400 h-2 rounded-lg"></div>
            </div>
          </div>
        </div>
        <div class="w-2/5 h-full flex flex-col justify-between m-2">
          <div
            class="card  h-[38vh] bg-slate-100 shadow-md relative rounded-lg"
          >
            <p class="text-2xl font-semibold drop-shadow-lg">Facturas</p>
            <div class="flex space-x-20 mt-4">
              <div class="">
                <p class="text-md font-normal text-lime-500 drop-shadow-md">
                  Hechas
                </p>
                <p class="text-5xl mt-3 font-semibold">278</p>
              </div>
              <div class="">
                <p class="text-md font-normal text-red-500 drop-shadow-md">
                  Cobradas
                </p>
                <p class="text-5xl mt-3 font-semibold">278</p>
              </div>
              <div class="">
                <p class="text-md font-normal text-cyan-400 drop-shadow-md">
                  Sin pagar
                </p>
                <p class="text-5xl mt-3 font-semibold">278</p>
              </div>
            </div>
            <p class="text-sm font-normal mt-2 text-gray-400">
              Ultima actualizacion hace 5s...
            </p>
          </div>
          
        </div>
      </div>
    </div>
  </div>
