<div class="flex bg-gradient-to-r from-slate-300-500 to-blue-500">
    <app-side-nav></app-side-nav>
    <div class="flex flex-col w-full fondo">
        <p class="m-2 justify-start ml-10 text-2xl font-bold">DashBoard</p>
        <div class="h-full ml-10 ">

            <div class="flex flex-row w-full h-1/2">
                <div class="flex flex-row w-full p-10 h-full">
                    <div class="bg-cyan-50 shadow-md rounded-xl w-full h-full">
                            <p>hola</p>
                    </div>
    
    
                </div>
                <div class="flex flex-row w-full p-10 h-full">
                    <div class="bg-cyan-50 shadow-md rounded-xl  w-full h-full">
                            <p>hola</p>
                    </div>
    
    
                </div>
    
            </div>
            <div class="flex flex-row w-full h-1/2">
                <div class="flex flex-row w-full p-10 h-full">
                    <div class="bg-cyan-50 shadow-md rounded-xl  w-full h-full">
                            <p>hola</p>
                    </div>
    
    
                </div>
                <div class="flex flex-row w-full p-10 h-full">
                    <div class="bg-cyan-50 shadow-md rounded-xl w-full h-full">
                            <p>hola</p>
                    </div>
    
    
                </div>
    
            </div>
        </div>
        </div>
</div>